// Custom Files
@import "utilities/variables";

// Required
@import "../bootstrap-5.0.0-beta1/scss/bootstrap";
@import "../bootstrap-5.0.0-beta1/scss/functions";
@import "../bootstrap-5.0.0-beta1/scss/variables";
@import "../bootstrap-5.0.0-beta1/scss/mixins";


// Optional
@import "../bootstrap-5.0.0-beta1/scss/containers";
@import "../bootstrap-5.0.0-beta1/scss/root";
@import "../bootstrap-5.0.0-beta1/scss/reboot";
@import "../bootstrap-5.0.0-beta1/scss/type";
@import "../bootstrap-5.0.0-beta1/scss/card";
@import "../bootstrap-5.0.0-beta1/scss/grid";
@import "../bootstrap-5.0.0-beta1/scss/list-group";

// Map Updates

// map.set($spacers, "6", ($spacer * 10));

/* General Formatting */

body {
  background: url('../images/forest-fog.jpg') no-repeat center center fixed;
}

h1 {
  font-family: $font-family-display;
  font-size: 7rem;
}

.header-section {
  top: 56px;
}

.section {
  max-height: fit-content;
}

h2.header-section {
  font-family: $font-family-display;
}

/* Header */

div.header {
  padding-top: 15%;
  background: linear-gradient(rgb(160, 185, 165), transparent 90%);
}

.header h5 {
  font-family: $font-family-subheading;
  text-shadow: 1px 1px 3px $dark;

}


/* About Section Styles */

.container-about {
  background-color: $light-transparent;
}


/* Portfolio Section Styles */


.section-work {
  background: linear-gradient(rgba(114, 160, 193, 0.85), transparent 90%);
}

.background-label {;
  top: -15px;
  z-index: -1;
  overflow: hidden;
  letter-spacing: 13px;
}

.list-group-item {
  box-shadow: 1px 1px 4px $dark;
}


/* FLIP CARD */
.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-title {
  text-shadow: 1px 1px 3px $dark;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/* Resume */

.section-resume {
  background: linear-gradient(rgb(245,215,212), transparent 90%);
}

li.list-group-item {
  background-color: $light-transparent;
  width: 75%;
}

/* Contact Section */

.section-contact {
  background: linear-gradient(rgb(52, 58, 64), transparent 90%);
}

.container-contact {
  background-color: $light-transparent;
}

.custom-icon {
  width: 50px;
  height: 50px;
}
/* MEDIA QUERIES */

@include media-breakpoint-up(md) {

  div.header {
    padding-top: 20%;
  }

  .background-label {
    top: -40px;
    letter-spacing: 50px;
  }

  .container-about {
    width: 80%;
  }

  .portfolio-container > .background-label {
    top: -45px;
    letter-spacing: 30px;
  }

  li.list-group-item,
  .container-contact {
    width: 50%;
  }
}

@include media-breakpoint-up(lg) {
  .container-contact {
    width: 50%;
  }
}

@include media-breakpoint-up(xl) {
  .list-group-horizontal,
  .portfolio-cards {
    max-width: 1350px;
  }
}
