// Custom Files
@import "utilities/variables";
@import "utilities/mixins";

// Required
@import "../bootstrap-5.0.0-beta1/scss/bootstrap";
@import "../bootstrap-5.0.0-beta1/scss/functions";
@import "../bootstrap-5.0.0-beta1/scss/variables";
@import "../bootstrap-5.0.0-beta1/scss/mixins";


// Optional
@import "../bootstrap-5.0.0-beta1/scss/containers";
@import "../bootstrap-5.0.0-beta1/scss/root";
@import "../bootstrap-5.0.0-beta1/scss/reboot";
@import "../bootstrap-5.0.0-beta1/scss/type";
@import "../bootstrap-5.0.0-beta1/scss/card";
@import "../bootstrap-5.0.0-beta1/scss/grid";
@import "../bootstrap-5.0.0-beta1/scss/list-group";



/* General Formatting */

body {
  background: url('../images/forest-fog.jpg') no-repeat center center fixed;
}

.section-title {
  @include absolute-position (56px, $spacing: null);
  font-family: $font-family-display;
}

.section {
  @include set-hw ($max-h: fit-content);
}


/* Header Section Styles*/

.section-header {
  padding-top: 15%;
}

h1 {
  font-family: $font-family-display;
  font-size: 7rem;
}

.lead {
  font-family: $font-family-subheading;
  @include add-shadow (text, 3px);
}

/*** About Section Styles ***/

.container-about {
  @extend %transparent-bg;
}


/*** Portfolio Section Styles ***/

  // skills list styles
  .background-label {
    @include absolute-position (-15px, 13px) {
      z-index: -1;
      overflow: hidden;
    }
  }

  .list-group-item {
    @include add-shadow (box, 4px);
  }


  // flip card styles
  .flip-card {
    perspective: 1000px;
  }

  .flip-card-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .card:hover .flip-card-inner,
  .flip-card-back {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    @include add-shadow (box, 5px);
  }

  .card-title {
    @include add-shadow (text, 2px);
  }


/*** Resume Section Styles ***/

li.list-group-item {
  background-color: $light-transparent;
  @include set-hw ($width: 75%);
}


/*** Contact Section Styles ***/

.container-contact {
  @extend %transparent-bg;
}

.custom-icon {
  @include set-hw ($height: 50px, $width: 50px);
}


/* MEDIA QUERIES */

@include media-breakpoint-up(md) {

  .section-header {
    padding-top: 20%;
  }

  .background-label {
    @include absolute-position (-40px, 50px);
  }

  .container-about {
    @include set-hw ($width: 80%);
  }

  .portfolio-container > .background-label {
    @include absolute-position (-45px, 30px);
  }

  li.list-group-item,
  .container-contact {
    @include set-hw ($width: 50%, $max-w: 650px);
  }
}

@include media-breakpoint-up(xl) {
  .list-group-horizontal,
  .portfolio-cards {
    @include set-hw ($max-w: 1350px);
  }
}
