
// Colors

$font-family-sans-serif: 'Raleway', sans-serif;
$font-family-display: 'Megrim', cursive;
$font-family-subheading: 'Lato', sans-serif;

$section-bg:
'header' rgb(160, 185, 165), // green
'about' rgba(220, 220, 133, 0.75), // yellow
'work' rgba(114, 160, 193, 0.85), // blue
'resume' rgba(181, 103, 39, 0.6), // cider orange
'contact' rgb(52, 58, 64); // gray

// Global styles

$enable-shadows: true;
$enable-gradients: true;

// Custom colors

// reset bootstrap primary color
$primary: #375B5D; // dark green

$light-transparent: rgba(248,249,250, 0.7);
